/* Satoshi Font Family */
@font-face {
    font-family: 'Satoshi';
    src: url('/fonts/Satoshi-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Satoshi';
    src: url('/fonts/Satoshi-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Satoshi';
    src: url('/fonts/Satoshi-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Satoshi';
    src: url('/fonts/Satoshi-Black.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
}

/* TASA Orbiter Font Family */
@font-face {
    font-family: 'TASA';
    src: url('/fonts/TASAOrbiterDisplay-Regular-BF64891cba1d563.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'TASA';
    src: url('/fonts/TASAOrbiterDisplay-Medium-BF64891cba56e9b.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'TASA';
    src: url('/fonts/TASAOrbiterDisplay-Bold-BF64891cba5ae6f.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'TASA';
    src: url('/fonts/TASAOrbiterDisplay-Black-BF64891cba23c21.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
}

p, li, tr, td, th {
    font-family: 'Satoshi', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'TASA', sans-serif;
}

/* TASA Display For Titles */
h1 {
    line-height: 1.2;
    letter-spacing: -0.02em;
}

h2 {
    line-height: 1.2;
    letter-spacing: -0.02em;
}

h3 {
    line-height: 1.2;
    letter-spacing: -0.02em;
}

h4 {
    line-height: 1.2;
    letter-spacing: -0.02em;
}

h5 {
    line-height: 1.2;
    letter-spacing: -0.02em;
}

h6 {
    line-height: 1.2;
    letter-spacing: -0.02em;
}

/* Satoshi Variable Display For Labels */
.label-xl {
    line-height: 1.4;
    letter-spacing: -0.01em;
}

.label-lg {
    line-height: 1.4;
    letter-spacing: -0.01em;
}

.label-md {
    line-height: 1.4;
    letter-spacing: -0.01em;
}

.label-sm {
    line-height: 1.4;
    letter-spacing: -0.01em;
}

.label-xs {
    line-height: 1.4;
    letter-spacing: -0.01em;
}

/* Satoshi Variable Display For Paragraphs */
.paragraph-xl {
    line-height: 1.6;
    letter-spacing: -0.01em;
}

.paragraph-lg {
    line-height: 1.6;
    letter-spacing: -0.01em;
}

.paragraph-md {
    line-height: 1.6;
    letter-spacing: -0.01em;
}

.paragraph-sm {
    line-height: 1.6;
    letter-spacing: -0.01em;
}

.paragraph-xs {
    line-height: 1.6;
    letter-spacing: -0.01em;
}

/* Satoshi Variable Display For Subheading */
.subheading-xl {
    line-height: 1.3;
    letter-spacing: -0.01em;
}

.subheading-lg {
    line-height: 1.3;
    letter-spacing: -0.01em;
}

.subheading-md {
    line-height: 1.3;
    letter-spacing: -0.01em;
}

.subheading-sm {
    line-height: 1.3;
    letter-spacing: -0.01em;
}
